{% extends "base/app/base.html" %}
{% load render_bundle from webpack_loader %}

{% block extrahead %}
{% render_bundle 'freeMapMain' 'css' %}
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app" class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Free-Map</a>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar">
                <form class="navbar-form navbar-left" role="search">
                    <a class="btn btn-default">Export profile</a>
                    <a class="btn btn-default">Import profile</a>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Save</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div id="main-map" class="map col-md-8 col-md-offset-2"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <path-option-panel panel-title="Init Path Option" v-on:change-path-option="changePathOption"></path-option-panel>
        </div>
        <div class="col-md-6">
            <mark-option-panel panel-title="Init Mark Popup Option" v-on:change-mark-option="changeMarkPopupOption"></mark-option-panel>
        </div>
    </div>

    <alert :show.sync="alert.showAlert" placement="top-right" duration="3000" type="success" width="400px" dismissable>
        <span class="icon-ok-circled alert-icon-float-left"></span>
        <strong>{{alert.alertTitle}}</strong>
        <p>{{alert.alertContext}}</p>
    </alert>
</div>
{% endverbatim %}

{% render_bundle 'freeMapMain' 'js' %}
{% endblock %}