<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'common/favicon.ico' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'common/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'common/leaflet/leaflet.css' %}">

    {% block extrahead %}{% endblock %}
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
</form>
{% block content %}{% endblock %}
</body>
</html>